node_modules
*.logs
*.log
logs
log
/bin/*.js
/bin/template/config
/bin/template/data
/bin/template/application/alemon-plugin/alemon-plugin.json
/bin/template/application/alemon-plugin/apps.js