.body-point-font {
  padding-left: 145px;
  padding-top: 33px;
  font-size: 30px;
  color: #ffffff;
  font-family: serif;
}

.body-box-font-title {
  padding-left: 180px;
  padding-top: 10px;
  font-size: 34px;
  font-weight: 700;
  font-family: serif;
}

.body-box-font-desc {
  padding-left: 155px;
  padding-top: 40px;
  font-size: 28px;
  font-family: serif;
}

.body-top {
  height: 480px;
  background-size: 100% 100%;
}

.body-point {
  height: 100px;
  background-size: 100% 100%;
}

.body-box {
  height: 190px;
  background-size: 100% 100%;
}

.body-buttom {
  height: 120px;
  background-size: 100% 100%;
}
