body {
  padding: 0;
  width: 800px;
  margin: 0 auto !important;
}

@font-face {
  font-family: 'LXGWWenKai-Light';
  src: url('public/fonts/LXGWWenKai-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}